/Documentation/ export-ignore
/Tests/ export-ignore
/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/captainhook.json export-ignore
/CHANGELOG.md export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/README.md export-ignore
/rector.php export-ignore
