parameters:
	ignoreErrors:
		-
			message: "#^Method Brotkrueml\\\\MatomoIntegration\\\\Code\\\\MatomoMethodCall\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Code/MatomoMethodCall.php

		-
			message: "#^Property Brotkrueml\\\\MatomoIntegration\\\\Code\\\\MatomoMethodCall\\:\\:\\$parameters \\(array\\<int, array\\|bool\\|Brotkrueml\\\\MatomoIntegration\\\\Code\\\\JavaScriptCode\\|int\\|string\\>\\) does not accept array\\<int\\|string, array\\|bool\\|Brotkrueml\\\\MatomoIntegration\\\\Code\\\\JavaScriptCode\\|float\\|int\\|string\\>\\.$#"
			count: 1
			path: Classes/Code/MatomoMethodCall.php

		-
			message: "#^Property Brotkrueml\\\\MatomoIntegration\\\\Code\\\\MatomoMethodCall\\:\\:\\$parameters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Code/MatomoMethodCall.php

		-
			message: "#^Method Brotkrueml\\\\MatomoIntegration\\\\Event\\\\AbstractTrackPageViewEvent\\:\\:addMatomoMethodCall\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Event/AbstractTrackPageViewEvent.php

