parameters:
    phpVersion: 70400
    level: 8
    paths:
        - Classes
        - Configuration
    ignoreErrors:
        -
            message: '#Method .*addMatomoMethodCall\(\) has parameter \$parameters with no value type specified in iterable type array\.#'
            path: Classes/Event/AbstractTrackPageViewEvent.php
        -
            message: '#Method .*__construct\(\) has parameter \$parameters with no value type specified in iterable type array\.#'
            path: Classes/Code/MatomoMethodCall.php
        -
            message: '#Offset 0 does not exist on#'
            path: Classes/EventListener/TrackErrorPages.php
