services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Brotkrueml\MatomoIntegration\:
    resource: '../Classes/*'

  Brotkrueml\MatomoIntegration\EventListener\CookieTracking:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/cookie-tracking'

  Brotkrueml\MatomoIntegration\EventListener\DisableBrowserFeatureDetection:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/disable-browser-feature-detection'

  Brotkrueml\MatomoIntegration\EventListener\DoNotTrack:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/do-not-track'

  Brotkrueml\MatomoIntegration\EventListener\TrackErrorPages:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/track-error-pages'

  Brotkrueml\MatomoIntegration\EventListener\HeartBeatTimer:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/heart-beat-timer'

  Brotkrueml\MatomoIntegration\EventListener\LinkTracking:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/link-tracking'

  Brotkrueml\MatomoIntegration\EventListener\FileTracking:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/file-tracking'

  Brotkrueml\MatomoIntegration\EventListener\PerformanceTracking:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/performance-tracking'

  Brotkrueml\MatomoIntegration\EventListener\RequireConsent:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/require-consent'

  Brotkrueml\MatomoIntegration\EventListener\TrackJavaScriptErrors:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/track-javascript-errors'

  Brotkrueml\MatomoIntegration\EventListener\TrackAllContentImpressions:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/track-all-content-impressions'

  Brotkrueml\MatomoIntegration\EventListener\TrackVisibleContentImpressions:
    tags:
      - name: event.listener
        identifier: 'matomo-integration/track-visible-content-impressions'

  Brotkrueml\MatomoIntegration\Hooks\PageRenderer\TrackingCodeInjector:
    public: true
